html {'https://duckduckgo.com/?t=ffab&q=javascript+dedupe+dictionary&ia=web' 
    overflow-y: scroll;
}
body {
    margin: 10px auto 200px;
    width: 760px;
    font-family: serif;
    font-size: 18px;
    line-height: 24px;
    background-color: #F3F2ED;
}

header {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
}

header > nav {
    float: right;
    font-size: 18px;
    line-height: 30px;
}

a {
	color: #00aef3;
	font-family: "Cabin" !important;
  	font-weight: 700 !important;
  	font-style: normal !important;
  	letter-spacing: 2px !important;
    	text-decoration: none;
    	margin: 10px;
}

a:hover {
    text-decoration: underline;
}

a:visited{
	color: #00aef3;
}
	
footer {
	margin-top: 25px;
}

footer > p {
	color: #00aef3;
	text-align: center;
}


.person > h3 {
	margin-left: 15px;
}

.billDiv {
	display: flex;
	justify-content: space-between;
}


.collapsible {
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}


.active, .collapsible:hover {
  background-color: #00aef3;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.content table {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 25px;
}

.content th {
	text-align: left;
	vertical-align: top;
	min-width: 150px;
}

.content tr {
	text-align: left;
	vertical-align: top;
}

.content td > a { 
	margin: 0px;
}


