html {
    overflow-y: scroll;
}
body {
    margin: 10px auto 200px;
    width: 760px;
    font-family: serif;
    font-size: 18px;
    line-height: 24px;
    background-color: #F3F2ED;
}

header {
    font-size: 20px;
    line-height: 30px;
}

header > nav {
    float: right;
    font-size: 18px;
    line-height: 30px;
}

a {
	color: #00aef3;
	font-family: "Cabin" !important;
  	font-weight: 700 !important;
  	font-style: normal !important;
  	letter-spacing: 2px !important;
    	text-decoration: none;
    	margin: 10px;
}

a:hover {
    text-decoration: underline;
}

a:visited{
	color: #00aef3;
}
	
footer {
	margin-top: 25px;
}

footer > p {
	color: #00aef3;
	text-align: center;
}


